*{
    margin: 0;
    padding: 0;
    outline: none; border:none;
    box-sizing: border-box;
}


.text-box {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.text-box h1 {
    font-size: 20px;
}

.text-box p {
    margin-bottom: 0px;
}

.roomImg {
    width: 30rem;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.roomImg_std {
    width: 20rem;
    height: 100%;
    margin-top: 50px;
    float: left;
}

.roomImg.lux{
    width: 20rem;
    height: 100%;
    margin-top: 50px;
    float: left;
}

.bookingRoom{
    width: 1000px;
    height: 1100px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.brbody body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
}

.bookingRoom input::placeholder {
    text-align: center;
    color: #a0a0a0;
}

.bookingRoom input {
    margin-top: 100px;
    width: 100px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    background: #ffffff;
    border: 2px solid rgba(255, 0, 0, 0.541);
    border-radius: 20px;
    font-size: 15px;
    color: #000000;
    float: right;
    cursor: pointer;
    text-align: center;
}

.brbody .btn-std {
    background: #292828;
    width: 150px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 6cm;   
}

.brbody .btn-std:hover{
    background: #404040;
}

.brbody .btn-deluxe {
    background: #292828;
    width: 150px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 6cm;
}

.brbody .btn-deluxe:hover{
    background: #404040;
}

.brbody .btn-lux{
    background: #292828;
    width: 150px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 6cm; 
}

.brbody .btn-lux:hover{
    background: #404040;
}

.brbody .btn-booking {
    background: #292828;
    width: 150px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 26.2cm;
    margin-left: -13cm;
}

.brbody .btn-booking:hover{
    background: #404040;
}

.bookingRoom .brinput-std {
    margin-top: 1.5cm;
}