.bookingdetail-body {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .bookingdetail-body h3 {
    margin-bottom: 20px;
  }
  
  .bookingdetail-body p {
    margin-bottom: 10px;
  }
  
  .bookingdetail-body .update-btn {
    background-color: #4caf50; /* Green color for the update button */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Padding for better visual appearance */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .bookingdetail-body .update-btn:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .btn-bookingadmin {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-bookingadmin button {
    background-color: #2196F3; /* Blue color for buttons */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for better visual appearance */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-bookingadmin button:hover {
    background-color: #0b7dda; /* Darker blue on hover */
  }