.homebody {
    text-align: center;
}

bodyhome{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./image/home1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue
}

.btn {
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
  
}
  
.btn:hover {
    background-color: #404040; 
}




  
  


