.sbbody{
    background: url('./image/home3.jpg');;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sbhome{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px;
}

.sbbutton .sbdetail{
    background-color: #292929;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

